<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Custom Toolbar</span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span>Second Line</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">verified_user</mat-icon>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span>Third Line</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">favorite</mat-icon>
    <mat-icon class="example-icon">delete</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>


<button mat-stroked-button color="primary" [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <ul *appShowAuthed=false>
  <li><button mat-menu-item routerLink="/login">Sign in</button></li>
  <li><button mat-menu-item routerLink="/signup">Sign up</button></li>
  </ul>
  <ul *appShowAuthed=true>
    <li><button mat-menu-item routerLink="/">Home</button></li>
    <li><button mat-menu-item routerLink="/user">User</button></li>
    <li><button mat-menu-item (click)="logOut()">Sign Out</button></li>
  </ul>
</mat-menu>
